/**
 * #############################################################################
 *
 * Base: Tables
 *
 * #############################################################################
 */

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    line-height: $line-height-default;
}
