/**
 * #############################################################################
 *
 * Base: Paragraphs
 *
 * #############################################################################
 */

p {
    padding: 0;
    margin: 0 0 2em 0;
    line-height: $line-height-default;

    /* text align center */
    &.center {
        text-align: center;
    }
}
