/**
 * #############################################################################
 *
 * Objects: Tooltip
 *
 * #############################################################################
 */

.mat-tooltip {
    padding: 7px 10px;
    font-size: $font-size-info-component; //0.875em;
    line-height: $line-height-default;
}
